.list-card{
    .table{
        .table-body{
            .table-row{
                .btn-primary-w{
                    background-color: #fff;
                    border-color: #fff;
                    border-radius: 4px;
                }
            }
        }
    }
}